.grid__row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  max-width: $anchoPantalla;
  margin: 0 auto;

  .col {
    margin: 0 auto;
    grid-auto-flow: row;

    &-1 {
      grid-column: span 1 / span 1;
    }

    &-2 {
      grid-column: span 2;
    }

    &-3 {
      grid-column: span 3;
    }

    &-4 {
      grid-column: span 4;
    }
    &-5 {
      grid-column: span 5;
    }
    &-6 {
      grid-column: span 6;
    }
    &-7 {
      grid-column: span 7;
    }

    &-8 {
      grid-column: span 8;
    }

    &-9 {
      grid-column: span 9;
    }

    &-10 {
      grid-column: span 10;
    }
    &-11 {
      grid-column: span 11;
    }
    &-12 {
      grid-column: span 12;
    }
  }
}

@media (max-width: 765px) {
  .grid__row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-flow: row;

    .col {
      margin: 0 auto;

      &-1-sm {
        grid-column: span 1;
      }

      &-2-sm {
        grid-column: span 2;
      }

      &-3-sm {
        grid-column: span 3;
      }

      &-4-sm {
        grid-column: span 4;
      }
      &-5-sm {
        grid-column: span 5;
      }
      &-6-sm {
        grid-column: span 6;
      }
      &-7-sm {
        grid-column: span 7;
      }

      &-8-sm {
        grid-column: span 8;
      }

      &-9-sm {
        grid-column: span 9;
      }

      &-10-sm {
        grid-column: span 10;
      }
      &-11-sm {
        grid-column: span 11;
      }
      &-12-sm {
        grid-column: span 12;
      }
    }
  }
}
