// COLORES COMUNES
$colorPrincipal: #3c2317;
$colorSecundario: #628e90;
$colorAcento: #b4cde6;
$colorContrasteClaro: #f5efe6;
$colorTextoBase: #3c3c3b;

// FONDOS
$colorFondoNegro: #000106;
$colorFondoDegradado: linear-gradient(
  360deg,
  #f5efe6 23.29%,
  #aabdba 69.04%,
  #628e90 100.41%
);
